html, body {
    /* display: flex; */
    /* justify-content: center; */
    /* background-color: rgb(102, 102, 102);
    color: rgb(230, 227, 227); */
    /* height: 100%; */
}
.header{
    margin-top: 20px;
    text-align: center;
    
}
.message{
    margin-top: 20px;
    text-align: center;
    color: rgb(109, 109, 109);
}
.buttons{
    margin-top: 30px;
    text-align: center;
}
.btn2{
    margin-top: 40px;
}
.input-group{
    min-width: 510px;
}
.known_path{
    margin-top: 20px;
}

.settings{
    margin-top: 50px;
    border: 0.5px solid white;
    height: 400px;
}
.result{
    color: rgb(67, 196, 78);
    text-align: center;
}
.output{
    margin-top: 20px;
    color: rgb(161, 161, 161);
    text-align: center;
}
.picture{
    padding: 0;
    margin: 0;
    margin-top: 5px;
    text-align: center;
}
.nav-link.active{
    border-color: #dee2e6 #dee2e6 #f7f7f7 !important; 
}
.nav-item{
    padding: 0 !important;
}
.form{
    margin-top: 30px;
}
.text-center {
    text-align: center;
  }
.header_in{
    margin-bottom: 30px;
}
.sb{
    margin-top: 20px;
    margin-bottom: 50px;
}
.header{
    margin-top: 10px !important;
}
#output{
    color: rgb(80, 80, 80);
    font-size: 0.9rem;
    white-space: pre-wrap;
    text-align: left;
    font-weight: bold;
}
.my-fixed-button {
    /* position: relative;
    right: 10px;
    top: 10px; */
    margin: 20px;
    display: flex;
    justify-content: center;

}
.output{
    overflow: auto;
    /* min-height: 80%;
    height: 80%; */
    min-height: 730px;
    height: 730px;
}
.lock{

    position: absolute;
    right: 10px;
    bottom: 29px;

}
